<% layout('boilerplate') -%>
<h1>Welcome!</h1>
<% if (currentUser) { %>
<p>You are logged in as <%= currentUser.username %>
</p>
<div id="user-profile">
  <a href="/profile" >
    <button hx-get="/profile" hx-push-url="true" hx-target="user-profile" hx-swap="outerHTML" hx-select="#user-profile">View Profile</button>
  </a>
</div>
<form action="/logout" method="post" hx-boost="true">
  <button type="submit">Logout</button>
</form>
<% } else { %>
  <p>Please log in or <a href="/register" hx-get="/register" hx-push-url="true" hx-target="#main-content">register</a>:</p>
  <%- include('auth/login.ejs') %>
<% } %>
